@import "reset";


$max_width: 960px;
$gutter_width: 20px;
$col_count: 16;
$gutter_count: $col_count - 1;
$total_gutter_width: $gutter_count * $gutter_width;

$col_width: ($max_width - $total_gutter_width) / $col_count;

@mixin columnify($num_cols) {
    width: $col_width * $num_cols + $gutter_width * ($num_cols - 1);
}

@mixin offset($num_cols) {
    margin-left: ($col_width + $gutter_width) * $num_cols;
}

%container {
    margin: 0 auto;
    max-width: $max_width;
  }

.container {
  @extend %container;
  padding: 20px 0;
}



// NAV

.categories {
  @include columnify(8);
  @include offset(8);
  display: inline-block;
  .category {
    @include columnify(2);
    // @include offset(1);
    display: inline-block;
    border: 1px solid black;
    padding: 3px 0 3px 0;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: all 300ms ease;
    margin-bottom: 20px;
    a {
      // display: inline-block;
      // @include columnify(1);
      // margin-right: $gutter_width;

    }
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.store {
  font-size: 0;
}

.logo {
  padding-top: 10px;
  text-align: center;
  @include columnify(4);
  display: inline-block;
  img {
    border-radius: 50px;
    height: 100px;
    width: 100px;
  }
  h5, a {
    text-decoration: none;
    color: black;
    &:hover {
      background-color: white;
    }
  }
}

.cart_link {
  @include columnify(2);
  @include offset(9);
  // padding: 10px 0 10px 0;
  // margin: 0;
  text-decoration: none;
  color: black;
  font-size: 14px;
      &:hover {
        text-decoration: underline;
        color: black;
        background-color: white;
      }
}


// INDEX

.item {
  @include columnify(4);
  @include offset(1);
  display: inline-block;
  padding-top: 80px;
  margin-right: $gutter_width;
  margin-bottom: 30px;
  height: 200px;

   &:nth-of-type(3n) {
        margin-right: 0;
    }
  &.draggable {
    border: 1px solid black;
  }
  &:hover {
  }
  .info {
    padding: 15px 0 5px 0;
    // border-bottom: 1px solid gray;
    h6 {
      margin: 0;
    }
    p {
      margin: 10px 0 10px 0;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
        background-color: white;
      }
    }
    .shop_button {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: all 300ms ease;
    &:hover {
      background-color: black;
      color: white;

      }
    }
  }
}
.cart {
  border: 2px solid black;
  text-align: center;
  &.droppable {
        background:lightyellow;
        border: 2px dashed black;
    }
}

// ITEM SHOW PAGE
.item_box {

  .big_image {
      @include columnify(8);
      margin-right: $gutter_width;
      display: inline-block;
    img {
      max-width: 500px;
      height: 320px;
      overflow: none;
    }
  }
  .item_title {
    // padding-left: 80px;
    @include columnify(6);
    display: inline-block;

    .add_to_cart {
        border: 1px solid black;
        margin: 0;
        padding: 6px;
        text-align: center;
        text-decoration: none;
        background-color: white;
        color: black;
        transition: all 300ms ease;
        &:hover {
          background-color: black;
          color: white;

          }
        }
    .item_description {
      margin: 25px 0 100px 0;
    }
  }
}
.other_items {
  margin-top: 100px;
}
// FOOTER

footer {
  margin-top: 60px;
  padding: 20px 0 0 10px;

}

// CART

.cart-page {

  ul {
    @include columnify(9);
    display: inline-block;
    margin-right: $gutter_width;
  }
  .personal_cart {
    border: solid black .1em;
    padding: 10px;
    margin-bottom: 15px;
    max-height: 150px;
      li {
        list-style-type: none;
      }
      .grid_2 {
         position: relative;
        left: 160px;
        bottom: 100px;
      }
      img {
        position: relative;
        left: 0;
        top: 0;
        max-width: 150px;
        max-height: 130px;
      }
    .remove {
      position: relative;
      bottom: 180px;
      left: 85%;
      background-color: white;
      border: 1px solid black;
      transition: all 300ms ease;
      &:hover {
        background-color: red;
        color: white;
      }
    }
  }

  .order_box {
    @include columnify(5);
    display: inline-block;
    border: 1px solid black;
    padding: 10px 0 10px 10px;
    li {
      margin-top: 20px;
      list-style-type: none;
    }
    .submit {
      border: 1px solid black;
      padding: 3px;
      text-align: center;
      text-decoration: none;
      color: black;
      transition: all 300ms ease;
      &:hover {
        background-color: #4fc359;
        color: white;
      }
    }
  }
}
